:root {
  --font-family: "Montserrat", sans-serif;
  --font-family-alt: "Playfair Display", serif;
  --font-icons: "Icons", sans-serif;

  //Colors
  --light: #fff;
  --primary: #a29bfe;
  --dark: #6c5ce7;
  --text: #191919;
  --background: #f3f3f3;
  --hint: #dcdfdf;

  //Size
  --default-FS: 1.5rem;
  --default-FS-lower: 1.3rem;
  --default-FS-smaller: 1.2rem;

  //style
  --F-light: 300;
  --F-regular: 400;
  --F-bold: 700;
}
